{% extends "base_index.html" %}

{% block content %}
<h2>Choose your subscription</h2>

<form method="post">
  <label for="subscription">subscriptions:</label>
  <select name="subscription" id="subscription">
    {% for sub in subscriptions %}
      <option value="{{ sub.subscription_id }}">
        {{ sub.display_name }} ({{ sub.subscription_id }})
      </option>
    {% endfor %}
  </select>
  <button type="submit">Save</button>
</form>

<p>The chosed subscription: {{ selected_sub }}</p>

{% endblock %}