{% extends "base_index.html" %}


{% block content %}
<h2>Felhasználói beállítások</h2>

  <!-- Adatbeküldő űrlap -->
  <form method="POST" action="/settings">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="token_key">Token Key:</label>
    <input type="password" id="password" name="tokenkey" required><br><br>

    <button type="submit">Save & Connection test</button>
  </form>

  <!-- Megjelenítő gomb -->
  <form method="GET" action="/settings">
    <button type="submit">User details</button>
  </form>

  <!-- Kiírt értékek -->

{% endblock %}