azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-network
azure-mgmt-resource
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask
idna
isodate
itsdangerous
Jinja2
MarkupSafe
msal
msal-extensions
pycparser
PyJWT
requests
six
typing_extensions
urllib3
Werkzeug
azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-containerinstance
azure-mgmt-core
azure-mgmt-network
azure-mgmt-resource
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask
idna
isodate
itsdangerous
Jinja2
MarkupSafe
msal
msal-extensions
pycparser
PyJWT
requests
six
typing_extensions
urllib3
Werkzeug
